@model Bus.DomainModels.Models.Route
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<body style="
    background-image:url('/images/pattern.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center">

</body>
@if (Model != null)
{
    <table class="table">
        <tr>
            <td>RouteId</td>
            <td>R @Model.RouteId</td>
        </tr>
        <tr>
            <td>FromLocation</td>
            <td>@Model.FromLocation</td>
        </tr>
        <tr>
            <td>ToLocation</td>
            <td>@Model.ToLocation</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Model.Price.ToString("c")</td>
        </tr>
    </table>
}
else
{
    <h5>@ViewBag.StatusCode</h5>
}
<div>
    <a class="btn btn-info" asp-action="Index" asp-controller="Routes">Back to the list</a>
</div>
