@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<body style="
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.34MY20FWjl7BI2jBUtnk2AHaFj&pid=Api&P=0&w=227&h=171');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;">
</body>

<style>

    .required:after {
        content: "*";
        /* font-weight: bold;*/
        color: red;
    }
</style>


<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Age" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.Age" class="form-control" />
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DateOfBirth" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" />
                @*<span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Input.Address" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.State" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.State" class="form-control" />
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Country" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.Country" class="form-control" />
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PinCode" class="required" style="font-weight:bold"></label>
                <input asp-for="Input.PinCode" class="form-control" />
                <span asp-validation-for="Input.PinCode" class="text-danger"></span>
            </div>


            <!--<div class="form-group">
        <label asp-for="Input.CustomerType"></label>-->
            @*<input asp-for="Input.CustomerType" class="form-control" />*@
            <!--<select asp-for="Input.CustomerType">
            <option value="GovtOfficer">GovtOfficer</option>
            <option value="Student">Student</option>
            <option value="PrivateEmployee">PrivateEmployee</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Input.CustomerType" class="text-danger"></span>
    </div>-->
            @*<div class="form-group">
            <label asp-for="Input.Role"></label>
            <select asp-for="Input.Role">
                <option value="select Role"></option>
                <option value="Admin">Admin</option>
                <option value="Customer">Customer</option>

            </select>
            <span asp-validation-for="Input.Role" class="text-danger"></span>
        </div>*@

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal " style="padding-right:10em;">
                        <div>
                            <p>

                                @foreach (var provider in Model.ExternalLogins)
                                {


                @if (provider.DisplayName == "Facebook")
                {


        <button class=" btn btn-primary btn btn-facebook" type="submit" value="@provider.Name"
                title="Log in using your @provider.DisplayName account" name="provider" style="width: 127px;">

            <i class="fab fa-facebook fa-align-left social-icon" style="margin-right:5px"></i>Facebook
        </button>}

                                    @if (provider.DisplayName == "Google")
                                    {

                <button type="submit" class="btn btn-danger btn-google" value="@provider.Name"
                        title="Log in using your @provider.DisplayName account" name="provider" style="width: 100px;margin-left: 32px;margin-top: -1px;">

                    <i class="fab fa-google fa-align-right social-icon " style="margin-right:5px" ></i>Google
                </button>}}

                            </p>
                        </div>

                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
